* {
	box-sizing: border-box;
}

html,
body,
#map {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.italic {
	font-style: italic;
}

.small {
	font-size: x-small;
}


/* Sidebar */

.modal-body .icon,
.leaflet-sidebar-tabs .icon {
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 7px;
	background: #444;
	mask-size: cover;
	-webkit-mask-size: cover;
}

.leaflet-sidebar-tabs>ul>li.active .icon {
	background: whitesmoke;
}

.leaflet-sidebar-tabs>ul>li.disabled .icon {
	background: #ccc;
}

.icon-layers {
	-webkit-mask-image: url(../images/svg/layers.svg);
	mask-image: url(../images/svg/layers.svg);
}

.icon-bike {
	-webkit-mask-image: url(../images/svg/bike.svg);
	mask-image: url(../images/svg/bike.svg);
}

.icon-road {
	-webkit-mask-image: url(../images/svg/edit_road.svg);
	mask-image: url(../images/svg/edit_road.svg);
}

.icon-elevation {
	-webkit-mask-image: url(../libs/leaflet-elevation/images/elevation.svg);
	mask-image: url(../libs/leaflet-elevation/images/elevation.svg);
}

.icon-locate {
	-webkit-mask-image: url(../images/svg/locate.svg);
	mask-image: url(../images/svg/locate.svg);
}

.icon-trace {
	-webkit-mask-image: url(../images/svg/tracks.svg);
	mask-image: url(../images/svg/tracks.svg);
}

.icon-info {
	-webkit-mask-image: url(../images/svg/info.svg);
	mask-image: url(../images/svg/info.svg);
}

.icon-download {
	-webkit-mask-image: url(../images/svg/save.svg);
	mask-image: url(../images/svg/save.svg);
}

.icon-save_alt {
	-webkit-mask-image: url(../images/svg/save_alt.svg);
	mask-image: url(../images/svg/save_alt.svg);
}

.icon-locate {
	-webkit-mask-image: url(../images/svg/locate.svg);
	mask-image: url(../images/svg/locate.svg);
}

.icon-add {
	-webkit-mask-image: url(../images/svg/add_2.svg);
	mask-image: url(../images/svg/add_2.svg);
}

.icon-clear {
	-webkit-mask-image: url(../images/svg/clear.svg);
	mask-image: url(../images/svg/clear.svg);
}

.icon-clipboard {
	-webkit-mask-image: url(../images/svg/clipboard.svg);
	mask-image: url(../images/svg/clipboard.svg);
}

.icon-folder {
	-webkit-mask-image: url(../images/svg/folder.svg);
	mask-image: url(../images/svg/folder.svg);
}

.icon-maillot {
	-webkit-mask-image: url(../images/svg/maillot.svg);
	mask-image: url(../images/svg/maillot.svg);
}

.icon-profil {
	-webkit-mask-image: url(../libs/leaflet-elevation/images/elevation-gray.svg);
	mask-image: url(../libs/leaflet-elevation/images/elevation-gray.svg);
}

.icon-publish {
	-webkit-mask-image: url(../images/svg/publish.svg);
	mask-image: url(../images/svg/publish.svg);
}

.icon-settings {
	-webkit-mask-image: url(../images/svg/settings.svg);
	mask-image: url(../images/svg/settings.svg);
}

.leaflet-sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	z-index: 2000;
}

.leaflet-sidebar.collapsed {
	width: 40px;
}

@media (min-width: 768px) {
	.leaflet-sidebar {
		top: 0;
		bottom: 0;
		transition: width 500ms;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.leaflet-sidebar {
		width: 450px;
		max-width: 450px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.leaflet-sidebar {
		width: 450px;
		max-width: 450px;
	}
}

@media (min-width: 1200px) {
	.leaflet-sidebar {
		width: 450px;
		max-width: 450px;
	}
}

.leaflet-sidebar-left {
	left: 0;
}

@media (min-width: 768px) {
	.leaflet-sidebar-left {
		left: 0;
	}
}

.leaflet-sidebar-right {
	right: 0;
}

@media (min-width: 768px) {
	.leaflet-sidebar-right {
		right: 0;
	}
}

.leaflet-sidebar-tabs {
	top: 0;
	bottom: 0;
	height: 100%;
	background-color: whitesmoke;
}

.leaflet-sidebar-left .leaflet-sidebar-tabs {
	left: 0;
}

.leaflet-sidebar-right .leaflet-sidebar-tabs {
	right: 0;
}

.leaflet-sidebar-tabs,
.leaflet-sidebar-tabs>ul {
	position: absolute;
	width: 40px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.leaflet-sidebar-tabs>li,
.leaflet-sidebar-tabs>ul>li {
	width: 100%;
	height: 40px;
	color: #333;
	font-size: 12pt;
	overflow: hidden;
	transition: all 80ms;
}

.leaflet-sidebar-tabs>li:hover,
.leaflet-sidebar-tabs>ul>li:hover {
	color: #000;
	background-color: #eee;
}

.leaflet-sidebar-tabs>li.active,
.leaflet-sidebar-tabs>ul>li.active {
	color: whitesmoke;
	background-color: #AD3525;
}

.leaflet-sidebar-tabs>li.disabled,
.leaflet-sidebar-tabs>ul>li.disabled {
	color: rgba(51, 51, 51, 0.4);
}

.leaflet-sidebar-tabs>li.disabled:hover,
.leaflet-sidebar-tabs>ul>li.disabled:hover {
	background: transparent;
}

.leaflet-sidebar-tabs>li.disabled>a,
.leaflet-sidebar-tabs>ul>li.disabled>a {
	cursor: default;
}

.leaflet-sidebar-tabs>li>a,
.leaflet-sidebar-tabs>ul>li>a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 40px;
	color: inherit;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

.leaflet-sidebar-tabs>ul+ul {
	bottom: 0;
}

.leaflet-sidebar-content {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: whitesmoke;
	overflow-x: hidden;
	overflow-y: auto;
}

.leaflet-sidebar-left .leaflet-sidebar-content {
	left: 40px;
	right: 0;
}

.leaflet-sidebar-right .leaflet-sidebar-content {
	left: 0;
	right: 40px;
}

.leaflet-sidebar.collapsed>.leaflet-sidebar-content {
	overflow-y: hidden;
}

.collapsed>.leaflet-sidebar-content {
	overflow-y: hidden;
}

.leaflet-sidebar-pane {
	display: none;
	left: 0;
	right: 0;
	box-sizing: border-box;
	padding: 10px 20px;
}

.leaflet-sidebar-pane.active {
	display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
	.leaflet-sidebar-pane {
		min-width: 450px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.leaflet-sidebar-pane {
		min-width: 450px;
	}
}

@media (min-width: 1200px) {
	.leaflet-sidebar-pane {
		min-width: 450px;
	}
}

.leaflet-sidebar-header {
	margin: -10px -20px 0;
	height: 40px;
	padding: 0 20px;
	line-height: 40px;
	font-size: 14.4pt;
	color: whitesmoke;
	background-color: #AD3525;
}

.leaflet-sidebar-right .leaflet-sidebar-header {
	padding-left: 40px;
}

.leaflet-sidebar-header img {
	filter: invert(1);
	height: 18px;
	position: absolute;
	top: 11px;
	right: 46px;
}

.leaflet-sidebar-close {
	position: absolute;
	top: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer;
}

.leaflet-sidebar-close::after {
	content: '◀︎';
	color: whitesmoke;
	font-size: 15px;
}

.leaflet-sidebar-left .leaflet-sidebar-close {
	right: 0;
}

.leaflet-sidebar-right .leaflet-sidebar-close {
	left: 0;
}

@media (min-width: 768px) {
	.leaflet-sidebar {
		border-radius: 0;
	}
	.leaflet-sidebar.leaflet-touch {
		border: none;
	}
}

.leaflet-sidebar-left.leaflet-touch {
	box-shadow: none;
	border-right: 2px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
	.leaflet-sidebar-left~.leaflet-control-container .leaflet-left {
		transition: left 500ms;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.leaflet-sidebar-left~.leaflet-control-container .leaflet-left {
		left: 450px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.leaflet-sidebar-left~.leaflet-control-container .leaflet-left {
		left: 450px;
	}
}

@media (min-width: 1200px) {
	.leaflet-sidebar-left~.leaflet-control-container .leaflet-left {
		left: 450px;
	}
}

.leaflet-sidebar-left.collapsed~.leaflet-control-container .leaflet-left {
	left: 50px;
}

.leaflet-sidebar-right.leaflet-touch {
	box-shadow: none;
	border-left: 2px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
	.leaflet-sidebar-right~.leaflet-control-container .leaflet-right {
		transition: right 500ms;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.leaflet-sidebar-right~.leaflet-control-container .leaflet-right {
		right: 450px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.leaflet-sidebar-right~.leaflet-control-container .leaflet-right {
		right: 450px;
	}
}

@media (min-width: 1200px) {
	.leaflet-sidebar-right~.leaflet-control-container .leaflet-right {
		right: 450px;
	}
}

.leaflet-sidebar-right.collapsed~.leaflet-control-container .leaflet-right {
	right: 50px;
}


/* Leaflet Layers Control */

.leaflet-control-layers {
	border-radius: none;
	box-shadow: none;
}

.leaflet-control-layers-expanded {
	width: 100% !important;
	padding: 0px;
	background-color: transparent;
	border: none !important;
}

.leaflet-control-layers-list {
	font-size: 1.2em;
	padding: 1em;
}


/* Routing */

.leaflet-routing-geocoders-wrapper {
	position: absolute;
	top: 40px;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

.leaflet-routing-geocoders-buttons {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px;
	padding: 1em;
}

.leaflet-routing-alt,
.leaflet-routing-geocoders {
	width: 100%;
	padding: 1em;
	border: none;
	max-height: initial;
	overflow-y: auto;
	transition: all 0.2s ease;
	position: absolute;
	top: 50px;
	left: 0;
	bottom: 0;
}

.leaflet-routing-alt {
	top: 40px;
}

.leaflet-routing-geocoders input {
	width: calc(100% - 4px);
	padding: 5px;
	line-height: 1.67;
	border: 1px solid #bbb;
	border-radius: 4px;
}

.leaflet-routing-geocoders-buttons button.hide {
	display: none;
}

.leaflet-routing-alt tbody td:nth-child(2) {
	padding: 0 .5em;
}

.leaflet-routing-geocoders-buttons .select_profil {
	display: block;
	font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #888;
	margin: 0;
	padding-left: .5em;
	height: 28px;
	border: 1px solid #bbb;
	border-radius: 4px;
	width: 50%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url(../images/svg/dropdown.svg);
	background-repeat: no-repeat, repeat;
	background-position: right .25em top 50%, 0 0;
	background-size: .90em auto, 100%;
}

.leaflet-routing-geocoders-buttons .select_profil::-ms-expand {
	display: none;
}

.leaflet-routing-geocoders-buttons .select_profil:hover {
	border-color: #888;
}

.leaflet-routing-geocoders-buttons .select_profil:focus {
	border-color: #888;
	box-shadow: none;
	color: #888;
	outline: none;
}

.leaflet-routing-geocoders-buttons button {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	border: 1px solid #bbb;
	border-radius: 4px;
	background-color: white;
	margin: 0;
	margin-right: 2px;
	float: right;
	cursor: pointer;
	transition: background-color 0.2s ease;
	width: 28px;
	height: 28px;
	padding: 0 !important;
}

.leaflet-routing-geocoders-buttons button:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 22px;
}

.leaflet-routing-add-waypoint:after {
	background-image: url(../images/svg/add_2.svg);
}

.leaflet-routing-reverse-waypoints:after {
	background-image: url(../images/svg/swap.svg);
}

.leaflet-routing-erase-waypoint:after {
	background-image: url(../images/svg//clear.svg);
}

.leaflet-routing-export-waypoint:after {
	background-image: url(../images/svg/save_alt.svg);
}

.leaflet-routing-scasb:after {
	background-image: url(../images/svg/maillot.svg);
}

.leaflet-routing-loop::after {
	background-image: url(../images/svg/loop.svg);
}

.leaflet-routing-geocoders-buttons button:hover {
	background-color: #eee;
}

.leaflet-routing-instruction-distance {
	min-width: 50px;
}

.leaflet-routing-instruction-distance-total {
	min-width: 60px;
}

.leaflet-routing-alt tbody td:nth-child(3),
.leaflet-routing-alt tbody td:nth-child(4) {
	text-align: right;
	white-space: nowrap;
	padding-left: .5em;
}

.leaflet-routing-error-close {
	position: absolute;
	font-size: 18px;
	font-weight: bold;
	top: 0;
	right: 8px;
}

.leaflet-routing-error-close:hover {
	cursor: pointer;
}

.leaflet-routing-error-close::after {
	content: "\00d7";
}


/* Merkers */

.marker-position,
.marker-default {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	behavior: url(PIE.htc);
	background: #444;
	color: whitesmoke;
	font-size: 8px;
	border: 1px solid whitesmoke;
	text-align: center;
}

.marker-start,
.marker-end {
	font-weight: bold;
	font-size: 10px;
	color: whitesmoke;
	border-width: 2px;
}

.marker-start {
	background: red;
}

.marker-end {
	background: blue;
}

.marker-position,
.marker-follow {
	background: whitesmoke;
	border: 1px solid black;
}


/* Elevation */

.leaflet-control-container .elevation-summary {
	text-shadow: none !important;
	background-color: rgba(173, 53, 37, 0.9);
	margin: 0 !important;
	color: white;
	font-size: .8em;
	padding: 5px;
	text-align: center;
}

.line-summary>span:not(:last-child):after {
	content: "\0020\|\0020" !important;
}

.line-summary .minslope,
.line-summary .maxslope {
	display: none;
}

.line-summary>span.descent:after {
	content: none !important;
}

.elevation-control {
	border: 1px solid rgba(173, 53, 37, 0.4) !important;
	border-radius: 3px;
}

.elevation-control.elevation .mouse-focus-line {
	stroke: #0D1821;
	stroke-width: 1;
	pointer-events: none;
}

.elevation-control.elevation .mouse-focus-label-rect {
	fill: rgba(240, 240, 240, 0.95);
	fill-opacity: 0.75;
	pointer-events: none;
	stroke-width: 1;
	stroke: #444;
}

.elevation-control.elevation .mouse-focus-label-text {
	fill: #444;
	pointer-events: none;
	font-size: x-small;
}

.elevation-control.elevation .grid .tick line {
	stroke: whitesmoke;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}


/*
* Aide (modal)
*/

.modal-body code {
	font-size: 1.2em;
	background-color: #444;
	color: whitesmoke;
	padding: .1em .5em;
	margin: 0 .5em;
}

.modal-body .icon {
	width: 1.2em;
	height: 1.2em;
	margin: 0;
	mask-position: bottom;
}

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-body,
.modal-header,
.modal-footer {
	position: absolute;
	width: 100%;
	color: whitesmoke;
	text-align: center;
	padding: 2px 16px;
}

.modal-header,
.modal-footer {
	background-color: rgba(173, 53, 37, 1);
}

.modal-header {
	top: 0;
	height: 5.5em;
	border-radius: 8px 8px 0 0;
}

.modal-body {
	top: 5.5em;
	height: calc(100% - 8.5em);
	max-height: 100%;
	overflow-y: auto;
	color: #444;
	text-align: justify;
	background: whitesmoke;
}

.modal-body a {
	color: #AD3525;
	text-decoration: none;
	font-weight: 600;
}

.modal-body a:hover {
	color: #861C0E;
	text-decoration: underline;
}

.modal-body ::selection {
	background: #AD3525;
	color: whitesmoke;
	text-shadow: none;
}

.modal-body ul {
	padding-left: 2em;
}

.modal-body li {
	margin-bottom: .5em;
	margin-top: .5em;
}

.modal-footer {
	font-size: x-small;
	bottom: 0;
	height: 3.5em;
	border-radius: 0 0 8px 8px;
}

.modal-footer a {
	color: white;
	text-decoration: none;
	font-weight: 600;
}

.modal-footer a:hover {
	text-decoration: underline;
	color: whitesmoke;
}

.modal-content {
	position: relative;
	margin: 2% auto;
	height: 90%;
	padding: 0;
	border-radius: 8px;
	width: 75%;
	max-width: 750px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .75em;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}

.close {
	color: whitesmoke;
	position: absolute;
	font-size: 18px;
	font-weight: bold;
	top: 0;
	right: 8px;
}

.close:hover,
.close:focus {
	color: #aaa;
	text-decoration: none;
	cursor: pointer;
}

.modal h2,
.modal h3 {
	border-bottom: 1px solid #ccc;
	padding: .5em;
}

.leaflet-control-help a {
	font-weight: bold;
	font-size: x-large;
	color: #444;
}

.leaflet-control-help a:hover {
	color: black;
}


/* SCASB THEME //////////////////////////////////////////////// */

.scasb-theme.elevation-control.elevation .background {
	background-color: rgba(173, 53, 37, 0.1);
}

.scasb-theme.elevation-control.elevation .axis line,
.scasb-theme.elevation-control.elevation .axis path {
	stroke: #0D1821;
}

.scasb-theme.elevation-control.elevation .mouse-drag {
	fill: rgba(173, 53, 37, 0.4);
}

.scasb-theme.elevation-control.elevation .elevation-toggle-icon {
	background: url(../libs/leaflet-elevation/images/elevation-gray.svg) no-repeat center center;
}

.scasb-theme.elevation-control.elevation .area {
	fill: rgba(173, 53, 37, 0.7);
	stroke-width: 1;
	stroke: rgb(173, 53, 37);
}

.scasb-theme.elevation-control.elevation .mouse-focus-line {
	stroke: #0D1821;
}

.scasb-theme.height-focus {
	stroke: #000;
	fill: whitesmoke;
}

.scasb-theme.elevation-polyline {
	stroke: rgba(173, 53, 37, 1);
}


/* */

#msg {
	position: absolute;
	display: none;
	top: 40px;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 4px;
	background: whitesmoke;
	color: #888;
	font-family: sans-serif;
	font-size: 14px;
	-webkit-box-shadow: 2px 2px 4px 0px rgba(68, 68, 68, 0.8);
	-moz-box-shadow: 2px 2px 4px 0px rgba(68, 68, 68, 0.8);
	box-shadow: 2px 2px 4px 0px rgba(68, 68, 68, 0.8);
}

#msg p {
	margin: 0;
	padding: .5em 2em;
}

.leaflet-control-layers-expanded,
.leaflet-sidebar-settings-form {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	padding: 0 1.25em;
}

.leaflet-sidebar-settings-form div.row {
	padding: .5em 0;
}

.leaflet-sidebar-settings-form label {
	display: inline-block;
	width: 35%;
	text-align: right;
	padding-right: 1em;
}

.leaflet-sidebar-settings-form input[type=text],
.leaflet-sidebar-settings-form select {
	width: 60%;
	padding: .5em;
	border-radius: 4px;
	border: 1px solid #bbb;
	border-radius: 4px;
	color: #888;
}

.leaflet-sidebar-settings-form select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url(../images/svg/dropdown.svg);
	background-repeat: no-repeat, repeat;
	background-position: right .25em top 50%, 0 0;
	background-size: .90em auto, 100%;
}

.leaflet-sidebar-settings-form select::-ms-expand {
	display: none;
}

.leaflet-sidebar-settings-form input:hover,
.leaflet-sidebar-settings-form select:hover {
	border-color: #888;
}

.leaflet-sidebar-settings-form input:focus,
.leaflet-sidebar-settings-form select:focus {
	border-color: #888;
	box-shadow: none;
	color: #888;
	outline: none;
}

.leaflet-sidebar-settings-form h2 {
	border-bottom: 1px solid rgba(173, 53, 37, 0.2);
	color: #AD3525;
}

.leaflet-sidebar-settings-form label,
.leaflet-sidebar-settings-form legend {
	font-weight: 700;
}

.leaflet-sidebar-settings-form fieldset label {
	text-align: left;
	font-weight: normal;
}

.leaflet-sidebar-settings-form fieldset {
	border: none;
}

.leaflet-sidebar-settings-form legend {
	border-bottom: 1px solid rgba(173, 53, 37, 0.2);
	color: #AD3525;
	display: inline-block;
	width: 90%;
	font-size: 1.2em;
}